
.idea/*
.DS_Store
config/config.php
phinx.yml
work files/*
vendor/*
public_html/admin/language/en-us/*
public_html/catalog/language/en-us/*
public_html/image/cache/*
public_html/image/catalog/demo/*
system/storage/cache/*
system/storage/logs/*
