# Config files
/public_html/config.php
/public_html/admin/config.php

# Image File
!/public_html/image/no_image.jpg

# Image Cache Files
/public_html/image/cache/*
!/public_html/image/cache/index.html

# System Cache Files
/public_html/system/storage/cache/*
!/public_html/system/storage/cache/index.html

# Modification Files
/public_html/system/storage/modification/*
!/public_html/system/storage/modification/index.html

# Templates Files
/public_html/image/templates/*
/public_html/image/templates/default.jpg

# Download Files
/public_html/system/storage/download/*
!/public_html/system/storage/download/index.html

# Session Files
/public_html/system/storage/session/*
!/public_html/system/storage/session/index.html

# Upload Files
/public_html/system/storage/upload/*
!/public_html/system/storage/upload/index.html

# Flags 
# remove sharp char if you want to add flags to gitignore
# /public_html/flags/*

# Log Files
/upload/system/storage/logs/*
!/upload/system/storage/logs/index.html

# If you want to ignore install file use following lines [on development mode]
# /public_html/backup.install/*
# /public_html/install/*

/tests/phpunit/vendor/*
/tests/phpunit/composer.lock
/tests/phpunit/bootstrap.php

# IDE Project files
/.idea

vendor/*
system/storage/cache/*

# Config files
config/config.php
public_html/admin/config.php
config/credentials.php
